let mapleader=" "

set relativenumber
set number

nmap <leader>sf <Action>(GotoFile)
nmap <leader>sg <Action>(TextSearchAction)
nmap gr <Action>(FindUsages)
nmap [r <Action>(NextOccurence)
nmap ]r <Action>(PreviousOccurence)
nmap [d <Action>(ReSharperGotoPrevErrorInSolution)
nmap ]d <Action>(ReSharperGotoNextErrorInSolution)


nnoremap <leader>sd <Action>(Rider.ProblemsView.ErrorsInSolution)
